<form class="example-form">
  <mat-form-field class="example-full-width">
    <mat-label>Assignee</mat-label>
    <input type="text" matInput [formControl]="eamsAppIdFormControl" [matAutocomplete]="autoEamsAppId">
    <mat-autocomplete #autoEamsAppId="matAutocomplete" >
      <mat-option *ngFor="let option of filteredeEamsAppIds | async" [value]="option">
        {{option}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form>
  <mat-form-field>
  <mat-label >EamsAppName</mat-label>
  <input type="text"
         class="form-control"
         placeholder="Start Typing"
         aria-label="Number"
         matInput
         [formControl]="eamsAppNameFormControl"
         [matAutocomplete]="autoEamsAppName"
          id="eamsAppName">
  <mat-autocomplete #autoEamsAppName="matAutocomplete">
    <mat-option *ngFor="let option of filteredEamsAppNames | async" [value]="option">
      {{option}}
    </mat-option>
  </mat-autocomplete>
  </mat-form-field>
  <mat-form-field>
  <mat-label for="eamsAppAcronym">Eams App Acronym</mat-label>
  <input type="text"
         class="form-control"
         placeholder="Start Typing"
         aria-label="Number"
         matInput
         [formControl]="eamsAppAcronymsFormControl"
         [matAutocomplete]="EamsAppAcronym" id="eamsAppAcronym">
  <mat-autocomplete #EamsAppAcronym=>
    <mat-option *ngFor="let option of filteredEamsAppAcronyms | async" [value]="option">
      {{option}}
    </mat-option>
  </mat-autocomplete>
</mat-form-field>


<div class="form-group">
  <label for="serviceName">Service Name</label>
  <input type="text" id="serviceName">
</div>

<div class="form-group">
  <label for="projectKeyJira">project Key Jira</label>
  <input type="text" id = "projectKeyJira">
</div>

<form [formGroup]="formGroup">
  <div class="form-group">
    <label>Separate CI/CD branches?</label>
    <div class="radio-group">
      <label>
        <input type="radio" formControlName="ciCdOption" value="yes" (change)="selectedOptionCID()">
        Yes
      </label>
      <label>
        <input type="radio" formControlName="ciCdOption" value="no" (change)="selectedOptionCID()">
        No
      </label>
    </div>
  </div>
<!--should get repo owner name, repo name, url-->
<!--Store multiple values -->
<!--In case you have separate CI/CD branches, ask for github CD branch URL, and CI URL otherwise get one value and store it-->
  <div class="form-group" *ngIf="showCiUrlInput">
    <label for="gitCloneUrlHttpsCI">gitCloneUrlHttpsCI</label>
    <input type="text" id="gitCloneUrlHttpsCI" formControlName="ciUrl">
  </div>

  <div class="form-group" *ngIf="showCdUrlInput">
    <label for="gitCloneUrlHttpsCD">gitCloneUrlHttpsCD</label>
    <input type="text" id="gitCloneUrlHttpsCD" formControlName="cdUrl">
  </div>
</form>

<!--should be able to add multiple values at once-->
<div class="form-group">
  <label for="gitBranchNameCD">gitBranchNameCD</label>
  <input type="text" id="gitBranchNameCD">
</div>
<div class="form-group">
  <label for="lastDeployDateTimeProd" >lastDeployDateTimeProd</label>
  <input type="text" id="lastDeployDateTimeProd">

</div>

<!--Autocomplete-->
<div class="form-group">
  <label for="appHostingEnv">appHostingEnv</label>
  <input type="text" id="appHostingEnv"
 class="form-control"
  placeholder="Start Typing"
  aria-label="Number"
  matInput
  [formControl]="appHostingEnvFormControl"
  [matAutocomplete]="appHostingEnv"
  >
  <mat-autocomplete #appHostingEnv="matAutocomplete">
    <mat-option *ngFor="let option of filteredappHostingEnvs | async" [value]="option">
      {{option}}
    </mat-option>
  </mat-autocomplete>
</div>

<!--should be checkbox-->
<div class="form-group">
  <label for="cicdTool">cicdTool</label>
  <mat-form-field id="cicdTool">
    <mat-select [formControl]="cicdToolFormControl" multiple>
      <mat-option *ngFor="let tool of cicdTools" [value]="tool">{{tool}}</mat-option>
    </mat-select>
  </mat-form-field>
</div>

<!--drop box with other option to add custom-->
<div class="form-group">
  <label for="advisoryTool">advisoryTool</label>
  <input type="text" id="advisoryTool">
</div>

<div class="form-group">
  <label for="cdsidSpoc">cdsidSpoc</label>
  <input type="text" id="cdsidSpoc">
</div>
<div class="form-group">
  <label for="cdsidLL6">cdsidLL6</label>
  <input type="text" id="cdsidLL6">
</div>
<div class="form-group">
  <label for="cdsidLL5">cdsidLL5</label>
  <input type="text" id="cdsidLL5">
</div>

