<div class="outer">
  <mat-card class="inner">
    <form [formGroup]="OnboardingForm">
      <p>
        <mat-form-field class="onboarding-form-fields">
          <mat-label>Eams App Id</mat-label>
          <input type="text"
                 matInput
                 formControlName="eamsAppIdFormControl"
                 [matAutocomplete]="autoEamsAppId" id="eamsAppId">
          <mat-autocomplete #autoEamsAppId="matAutocomplete">
            <mat-option *ngFor="let option of filteredeEamsAppIds | async" [value]="option">
              {{option}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field class="onboarding-form-fields">
          <mat-label>Eams App Name</mat-label>
          <input type="text"
                 matInput
                 formControlName="eamsAppNameFormControl"
                 [matAutocomplete]="autoEamsAppName" id="eamsAppName">
          <mat-autocomplete #autoEamsAppName="matAutocomplete">
            <mat-option *ngFor="let option of filteredEamsAppNames | async" [value]="option">
              {{option}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field class="onboarding-form-fields">
          <mat-label>Eams App Acronym</mat-label>
          <input type="text"
                 matInput
                 formControlName="eamsAppAcronymsFormControl"
                 [matAutocomplete]="EamsAppAcronym" id="eamsAppAcronym">
          <mat-autocomplete #EamsAppAcronym=>
            <mat-option *ngFor="let option of filteredEamsAppAcronyms | async" [value]="option">
              {{option}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field class="onboarding-form-fields">
          <mat-label> Service Name</mat-label>
          <input type="text" matInput id="serviceName" formControlName="serviceNameControl">
        </mat-form-field>
      </p>
      <p>
        <mat-form-field class="onboarding-form-fields">
          <mat-label>project Key Jira</mat-label>
          <input type="text" matInput id="projectKeyJira" formControlName="jiraIdControl">
        </mat-form-field>
      </p>
      <p>
        <mat-label>Please select <b>Yes</b> you have multiple CI/CD branches</mat-label>
        <mat-radio-group (change)="ciCdBranches($event.value)" formControlName="radioButtonControl"
                         id="cicdBranchControl">
          <mat-radio-button [value]="true" color="primary">Yes</mat-radio-button>
          <mat-radio-button [value]="false" color="primary">No</mat-radio-button>
        </mat-radio-group>
      </p>
      <!--should get repo owner name, repo name, url-->
      <!--Store multiple values -->
      <!--In case you have separate CI/CD branches, ask for github CD branch URL, and CI URL otherwise get one value and store it-->
      <p>
        <mat-form-field class="onboarding-form-fields">
          <mat-label>gitCloneUrlHttpsCI</mat-label>
          <input type="text" matInput id="gitCloneUrlHttpsCI" formControlName="gitCloneUrlCIControl">
        </mat-form-field>
      </p>
      <p>

        <mat-form-field class="onboarding-form-fields" *ngIf="OnboardingForm.get('radioButtonControl')?.value == true">
          <mat-label>gitCloneUrlHttpsCD</mat-label>
          <input type="text" matInput id="gitCloneUrlHttpsCD" formControlName="gitCloneUrlCDControl">
        </mat-form-field>
      </p>

      <!--should be able to add multiple values at once-->
      <p>
        <mat-form-field class="onboarding-form-fields">
          <mat-label>gitBranchNameCD</mat-label>
          <input type="text" matInput id="gitBranchNameCD" formControlName="gitBranchNameCDControl">
        </mat-form-field>
      </p>


      <p>
        <!-- <mat-form-field class="onboarding-form-fields">
          <mat-label>lastDeployDateTimeProd</mat-label>
          <input type="text" matInput id="lastDeployDateTimeProd" formControlName="deploymentDateControl">
        </mat-form-field> -->
        <mat-form-field class="onboarding-form-fields">
          <mat-label>Last deploy date</mat-label>
          <input matInput [matDatepicker]="picker" id="lastDeployDateTimeProd" formControlName="deploymentDateControl" >
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      
      </p>
      <!--Autocomplete-->
      <p>
        <mat-form-field class="onboarding-form-fields">
          <mat-label>appHostingEnv</mat-label>
          <input type="text" id="appHostingEnv"
                 class="form-control"
                 placeholder="Start Typing"
                 aria-label="Number"
                 matInput
                 formControlName="appHostingEnvFormControl"
                 [matAutocomplete]="appHostingEnv">
          <mat-autocomplete #appHostingEnv="matAutocomplete">
            <mat-option *ngFor="let option of filteredappHostingEnvs | async" [value]="option">
              {{option}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </p>
      <!--should be checkbox-->
      <p>
        <mat-form-field class="onboarding-form-fields">
          <mat-label>CI/CD Tool</mat-label>
          <mat-select multiple id="ciCdTool">
            <mat-form-field class="example-full-width">
              <input matInput #cicdTool>
            </mat-form-field>
            <button (click)="addCICDTool(cicdTool.value); cicdTool.value=''">
              Submit
            </button>
            <mat-option *ngFor="let tool of cicdTools" [value]="tool">{{tool}}</mat-option>

          </mat-select>
        </mat-form-field>
      </p>

      <!--drop box with other option to add custom-->
      <p>
        <mat-form-field class="onboarding-form-fields">
          <mat-label>Advisory Tool</mat-label>
          <mat-select multiple id="advisoryTool">
            <mat-form-field class="example-full-width">
              <input matInput #advisoryTool>
            </mat-form-field>
            <button (click)="addAdvisoryTool(advisoryTool.value); advisoryTool.value=''">
              Submit
            </button>
            <mat-option *ngFor="let tool of advisoryTools" [value]="tool">{{tool}}</mat-option>

          </mat-select>
        </mat-form-field>
      </p>
      <!--      <p>-->
      <!--        <mat-form-field class="onboarding-form-fields">-->
      <!--          <mat-label>advisoryTool</mat-label>-->
      <!--          <input type="text" matInput id="advisoryTool" formControlName="advisoryToolControl">-->
      <!--        </mat-form-field>-->
      <!--      </p>-->
      <p>
        <mat-form-field>
          <mat-label>cdsidSpoc</mat-label>
          <input type="text" matInput id="cdsidSpoc" formControlName="cdsidSpocControl">
        </mat-form-field>
      </p>
      <p>
        <mat-form-field>
          <mat-label>cdsidLL6</mat-label>
          <input type="text" matInput id="cdsidLL6" formControlName="cdsidLL6Control">
        </mat-form-field>
      </p>
      <p>
        <mat-form-field>
          <mat-label>cdsidLL5</mat-label>
          <input type="text" matInput id="cdsidLL5" formControlName="cdsidLL5Control">
        </mat-form-field>
      </p>
      <button mat-raised-button (click)=onSubmit()>Submit</button>
    </form>
  </mat-card>

</div>
