/* @import '~@angular/material/prebuilt-themes/indigo-pink.css'; */
  mat-form-field {

    min-width: 60%;
  }
  .outer {
    width: 100%;
    text-align: center;
  }
  
  .inner {
    display: inline-block;
    width: 80%;
    padding: 3%;
  }
  
