<div class="form-group">
  <label for="eamsAppId">EamsAppId</label>
    <input type="text"
           class="form-control"
           placeholder="Start Typing"
           aria-label="Number"
           matInput
           [formControl]="eamsAppIdFormControl"
           [matAutocomplete]="autoEamsAppId" id="eamsAppId">
    <mat-autocomplete #autoEamsAppId="matAutocomplete">
      <mat-option *ngFor="let option of filteredeEamsAppIds | async" [value]="option">
        {{option}}
      </mat-option>
    </mat-autocomplete>
</div>

<div class="form-group">
  <label for="eamsAppName">EamsAppName</label>
  <input type="text"
         class="form-control"
         placeholder="Start Typing"
         aria-label="Number"
         matInput
         [formControl]="eamsAppNameFormControl"
         [matAutocomplete]="autoEamsAppName" id="eamsAppName">
  <mat-autocomplete #autoEamsAppName="matAutocomplete">
    <mat-option *ngFor="let option of filteredEamsAppNames | async" [value]="option">
      {{option}}
    </mat-option>
  </mat-autocomplete>
</div>


<div class="form-group">
  <label for="eamsAppAcronym">Eams App Acronym</label>
  <input type="text"
         class="form-control"
         placeholder="Start Typing"
         aria-label="Number"
         matInput
         [formControl]="eamsAppAcronymsFormControl"
         [matAutocomplete]="EamsAppAcronym" id="eamsAppAcronym">
  <mat-autocomplete #EamsAppAcronym="matAutocomplete">
    <mat-option *ngFor="let option of filteredEamsAppAcronyms | async" [value]="option">
      {{option}}
    </mat-option>
  </mat-autocomplete>
</div>
